.chart-line-symbol {
    -fx-background-insets: 0,0;
    -fx-background-radius: 0px;
    -fx-padding: 0px;
    -fx-shape: "";
    -fx-background-color: transparent;
}
/*
.chart-vertical-grid-lines, .chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}*/
